/*===== Master Ninja CSS ====== */
/* Media ---------------------- */
.media { margin: 0; }
.media .media { margin-top: 0; }
.media, .bd { overflow: hidden; _overflow: visible; zoom: 1; }
.media, .bd.ofv { overflow: visible; }
.media .img { float: left; margin-right: 2.5px; }
.media .icn { float: left; margin: 10px 3px 0 0; }
.media .img img { display: block; }
.media .imgExt { float: right; margin-left: 2.5px; }

.media .bdLeft { float: left; margin-right: 5px; display: block; }
.media .bdRight { display: inline-block; }