/*===== Master Ninja CSS ====== */
/* Navigation ---------------------- */
.top-bar { margin: 0; height:auto; line-height:normal; }
.top-bar ul > li a:not(.button) { color: #C58398; font-weight: normal; }
.actionBar .trip{background-color: #660066;}
.actionBar .price{color:#000; height:24px; text-align:center; padding-top:3px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1ZDY4NCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE1ZDY4NCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(21,214,132,0.8) 0%, rgba(21,214,132,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,214,132,0.8)), color-stop(100%,rgba(21,214,132,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(21,214,132,0.8) 0%,rgba(21,214,132,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(21,214,132,0.8) 0%,rgba(21,214,132,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(21,214,132,0.8) 0%,rgba(21,214,132,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(21,214,132,0.8) 0%,rgba(21,214,132,0.8) 100%); /* W3C */}





.top-bar ul { height:auto; }


nav.inline ul { }
nav.inline ul li { display:inline; }