#
# Shadow
#
# An open source application development framework that streamlines
# responsive e-ecommerce development for php 5.0.0 or newer
#
# @package        Shadow
# @author         Super Amazing
# @copyright      Copyright (c) 2010 - 2013, Super Amazing
# @license        
# @link           http://shadow.livesuperamazing.com
# @since          Version 1.1.5
# @filesource     /html/.htaccess

# --------------------------------------------------------------------------------



# Sets the enviroment up to follow symbolic links using "Options directive"
Options +FollowSymLinks

# Use the Rewrite Engine
RewriteEngine On

# Important, do not comment, controls file type functions  
RewriteCond %{SCRIPT_FILENAME} !-d  

RewriteCond %{SCRIPT_FILENAME} !-f  

RewriteRule ^(.*/?$) index.php?p=$1 


<IfModule mod_rewrite.c>
RewriteEngine on
# For sales:
RewriteRule ^shop/sales/?$ sales.php
# For the primary categories:
RewriteRule ^shop/([A-Za-z\+]+)/?$ shop.php?type=$1
# For specific products:
RewriteRule ^browse/([A-Za-z\+\-]+)/([A-Za-z\+\-]+)/([0-9]+)$ browse.php?type=$1&category=$2&id=$3

# For HTTPS pages:
# Checks for condition where HTTPS is off
RewriteCond %{HTTPS} off

# Attempt to match 'checkout, etc, admin/anything'
# If a match is made, the URL is rewritten to https://hostname/$1
# Where $1 is the matched item
RewriteRule ^(checkout\.php|billing\.php|final\.php|admin/(.*))$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>




#MAINTENANCE-PAGE REDIRECT

#Fix "Bad value X-UA-Compatible for attribute http-equiv on element meta." Validation Error
Header set X-UA-Compatible "IE=edge,chrome=1" 

#RewriteRule ^.*$ ./index.php 

#<IfModule mod_rewrite.c>
 #RewriteEngine on
 ## Allowed Users
 # William Mosley - Web Master: wmosley@kingbio.com
 #RewriteCond %{REMOTE_ADDR} !^70\.43\.210\.202$
 #RewriteCond %{REQUEST_URI} !/maint/schd-maint.php$ [NC]
 #RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif|less|css|js) [NC]
 #RewriteRule .* /maint/schd-maint.php [R=302,L]
#</IfModule>