// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 320 =================================================== */

// 2. TYPOGRAPHY 			==============================
a{
	color: @linkColor;	
}

// 1. ROOT     				==============================
// 2. TYPOGRAPHY 			==============================

.headline{
	.font-size(40);
	font-weight:600;
	line-height: 1.2;
	margin-bottom: 10px;
	color: #004A8D;
	max-width: 700px;
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.wrapper{
	
		
}

.site-background{
	top: 0;
	left:0;	
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	background: -moz-radial-gradient(center, ellipse cover, rgba(122,210,255,0.6) 0%, rgba(63,198,83,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(122,210,255,0.6)), color-stop(100%,rgba(63,198,83,0.6))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(122,210,255,0.6) 0%,rgba(63,198,83,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(122,210,255,0.6) 0%,rgba(63,198,83,0.6) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(122,210,255,0.6) 0%,rgba(63,198,83,0.6) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(122,210,255,0.6) 0%,rgba(63,198,83,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997ad2ff', endColorstr='#993fc653',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-gradient{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(45deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 2%, rgba(255,255,255,0.6) 99%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0.6)), color-stop(2%,rgba(255,255,255,0.6)), color-stop(99%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 2%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 2%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 2%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.6) 100%); /* IE10+ */
background: linear-gradient(45deg, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 2%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

// 6. LAYOUT 				==============================

.wrapper{
	max-width: 1200px;	
	margin: 0 auto;
}


#hero{
	position: relative;
	height: 350px;
	//background-color: @white;
	margin: 10px 10px 10px 0;
	//.border-radius( 0px, 100px, 10px, 100px );
	//.box-shadow(0 0 20px rgba(0,0,0,.20));
	.bottles{
		max-width: 100px;
		position:absolute;
		top: 0;
		.bottle1{
			position: absolute;
			left: -40px;
			top: 20px;	
			max-width: 100px;
			z-index: 2;
		}
		.bottle2{
			position: absolute;
			left: 0;	
			max-width: 100px;
			z-index: 2;
		}
		.bottle3{
			position: absolute;
			left: 70px;
			max-width: 100px;
			display: none;	
			z-index: 2;
		}
	}
	.content{
		position: relative;
		padding-left: 110px;
		padding-top: 20px;
		.headline{
			.font-size(30);
			font-weight:400;
			line-height: 1.2;
			margin-bottom: 10px;
			color: #004A8D;
		}
	}
}

#medicine-bg{
	position: relative;
	top: -20px;
	height:250px;
	overflow: hidden;
	margin: 10px 0 10px 0px;
	.box-shadow(-50px 0 20px rgba(0,0,0,.20));
	img{
		width: 100%;
		position: relative;
	}
}

#sideeffects{
	position: relative;
	top: -30px;
	padding: 20px;
	margin: 10px;
	.font-size(24);
	background-color: darken( @linkColor, 20% );
	color: @white;	
	text-align: center;
}

#medicine{
	position: relative;
	top: -50px;
	.background-alpha(darken( @linkColor, 20% ),  .8);
	height: 400px;
	.border-radius( 0, 100px, 0, 100px );
	overflow: hidden;
	margin: 10px 0 10px 10px;
	.box-shadow(-50px 0 40px rgba(0,0,0,.40));
	img{
		width: 100%;
		position: relative;
	}
}

#lecture-page{
	#lecture-hero{
		padding: 0 30px 30px;
		overflow: hidden;
		.bg-image{
			width: 100%;
			position: fixed;
			max-width: 1000px;
			margin: 0 auto;
			top: 0;	
			z-index: -1;
		}
		.headline{
			.font-size(50);
			text-align: center;
			max-width:none;	
		}
		.event-time{
			padding: 20px;	
			background-color: #FFF;
		}
		.side-nav{
			margin: 0;
			padding: 10px;
			li{
				padding: 10px;
				margin: 0;
				.font-size(18);	
			}
			li:nth-child(even) {
    			background-color: #F4F4F4;
			}
			li:nth-child(odd) {
    			background-color: #DDD;
			}
		}
	}
	#event{
		background-color: darken( @linkColor, 20% );
		padding: 20px;
		height: 500px;
		color: @white;
	}
	#doctor{
		background-color: darken( @secLinkColor, 20% );
		padding: 20px;
		height: 500px;
		color: @white;
	}
	#rsvp{
		.txt_success{
			color: @green;	
		}
		background-color: @white;
		padding: 20px;
		input, textarea{
			.font-size(20);
			padding: 10px;
			height:auto !important;
		}
		.form-opt-in span{
			.font-size(20);
		}
		.rsvp.button{
			margin-top: 20px;
			width: 100%;	
		}
	}
	#kingbio{
		padding: 20px;
		height: 400px;
	}
}

// 7. VENDOR-SPECIFIC 		==============================

.scrx.sidebar{
	//background-color: @white;
	height: 100%;
	
	
}



// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

