/* RESET STYLES */

*, html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

del {
	text-decoration: line-through;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

input, select {
	vertical-align: middle;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}



/* MAIN STYLES */

body {
	background: #eaeaea url(../images/bg.gif) center 36px repeat-x;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
	color: #555555;
}

p {
	line-height: 1.4; }	
}

h1 {
	width: 173px;
	height: 55px;
	padding: 14px 56px 24px 20px;
	display: block;
	float: left;
}

h1 a {
	width: 173px;
	height: 55px;
	background: transparent url(../images/kb-logo.gif) left top no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
}

h2 {
	margin: 0 0 12px 0;
	font-size: 18px;
	line-height: 18px;
	color: #555555;	
}

h3 {
	margin: 0 0 12px 0;
	font-size: 14px;
	line-height: 14px;
	color: #555555;
}

h4 {
	margin: 0 0 12px 0;
	font-size: 12px;
	line-height: 12px;
	color: #555555;
}

a, a:visited {
	color: #219831;
	text-decoration: none;
	transition: color 0.25s, background 0.25s, background-image 0.25s, text-shadow 0.25s;
	-moz-transition: color 0.25s, background 0.25s, background-image 0.25s, text-shadow 0.25s; /* Firefox */
	-webkit-transition: color 0.25s, background 0.25s, background-image 0.25s, text-shadow 0.25s; /*Safari and Chrome*/
	-o-transition: color 0.25s, background 0.25s, background-image 0.25s, text-shadow 0.25s; /*Opera*/
}

a:hover, a:active {
	color: #28b63b;
	text-decoration: underline;
}

#top-wrapper {
	margin: 0;
	padding: 0;
	height: 36px;
	background: #156109;

}

#top-wrapper header {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background: #156109 url(../images/topnavbg.jpg) center top no-repeat;
	position: relative;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#top-navigation {
	width: 960px;
	height: 36px;
	padding: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 36px;
}

#top-navigation-col-one {
	width: 400px;
	height: 36px;
	float: left;
	padding: 0 0 0 20px;
}

#header-logo {
	width: 141px;
	height: 68px;
	position: absolute;
	z-index: 10;
}

#header-logo a {
	width: 141px;
	height: 68px;
	background: transparent url(../images/safecare-logo.png) left top no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
}

#top-navigation-col-two {
	width: 390px;
	height: 36px;
	float: right;
}

/*

#top-navigation ul {
	list-style-type: none;
	padding: 0 0 0 12px;
}

#top-navigation ul li {
	float: left;
	padding: 0 0 0 0;
}

#top-navigation ul li a, #top-navigation ul li a:visited {
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 36px;
	text-align: center;
}

#top-navigation ul li a:hover, #top-navigation ul li a:active {
	color: #ffffff;
	background: #219831;
}

*/

#purchase-active {
	display: block;
	width: 167px;
	padding: 14px 10px 10px 10px;
	margin: 0 0 0 0;
	background: #219831;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3dc54f), to(#219831));
	background-image: -webkit-linear-gradient(top, #3dc54f, #219831);
	background-image:    -moz-linear-gradient(top, #3dc54f, #219831);
	background-image:     -ms-linear-gradient(top, #3dc54f, #219831);
	background-image:      -o-linear-gradient(top, #3dc54f, #219831);
	text-shadow: -1px -1px #156109;
}

#purchase-active:hover {
	color: #ffffff;
	background: #3dc54f;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47d95a), to(#219831));
	background-image: -webkit-linear-gradient(top, #47d95a, #219831);
	background-image:    -moz-linear-gradient(top, #47d95a, #219831);
	background-image:     -ms-linear-gradient(top, #47d95a, #219831);
	background-image:      -o-linear-gradient(top, #47d95a, #219831);
	text-shadow: -1px -1px #156109;
}

#purchase-inactive, #purchase-inactive:hover {
	width: 167px;
	display: block;
	padding: 14px 10px 10px 10px;
	margin: 0 0 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	background: #eaeaea;
	color: #555555;
	text-decoration: none;
	cursor: default;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
}

#purchase-active-index {
	display: block;
	width: 161px;
	padding: 14px 10px 10px 10px;
	margin: 0 0 0 0;
	background: #219831;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3dc54f), to(#219831));
	background-image: -webkit-linear-gradient(top, #3dc54f, #219831);
	background-image:    -moz-linear-gradient(top, #3dc54f, #219831);
	background-image:     -ms-linear-gradient(top, #3dc54f, #219831);
	background-image:      -o-linear-gradient(top, #3dc54f, #219831);
	text-shadow: -1px -1px #156109;
}

#purchase-active-index:hover {
	color: #ffffff;
	background: #3dc54f;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47d95a), to(#219831));
	background-image: -webkit-linear-gradient(top, #47d95a, #219831);
	background-image:    -moz-linear-gradient(top, #47d95a, #219831);
	background-image:     -ms-linear-gradient(top, #47d95a, #219831);
	background-image:      -o-linear-gradient(top, #47d95a, #219831);
	text-shadow: -1px -1px #156109;
}

#nav {
	width: 177px;
	margin: 0 0 20px 0;
	list-style-type: none;
}

#nav a, #nav a:visited {
	display: block;
	width: 167px;
	padding: 10px;
	margin: 0 0 0 0;
	background: #eaeaea;
	color: #555555;
}

#nav a:hover, #nav a:active {
	background: #219831;
	color: #ffffff;
	text-decoration: none;
}

#media-display {
	width: 960px;
	height: 274px;
}

#main-content {
	width: 960px;
	background: #ffffff url(../images/main-content-bg.gif) center top repeat-x;
	padding: 72px 0 36px 0;
}

#main-content-index {
	width: 960px;
	background: #ffffff url(../images/smart-medicine-banner.jpg) center top no-repeat;
	padding: 550px 0 0px 0;
	position: relative;
	z-index: 0;
}

.content-index-left {
	width: 500px;
	padding: 36px;
	float: left;
}

.content-index-right {
	width: 352px;
	padding: 36px 36px 36px 0;
	float: right;
}

#product-display-index {
	width: 300px;
	height: 211px;
	position: absolute;
	z-index: 10;
	left: 600px;
	top: 600px;
}

#main-four-col-one {
	width: 177px;
	margin: 0 36px 0 0;
	padding: 0 0px 0 36px;
	float: left;
}

#main-four-col-two {
	width: 173px;
	margin: 0 36px 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#main-four-col-three {
	width: 173px;
	margin: 0 36px 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#main-four-col-four {
	width: 173px;
	margin: 0 0 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#main-two-col-left-large {
	width: 711px;
	margin: 0;
	padding: 0 36px 0 0;
	float: left;
}

#main-two-col-right-large {
	width: 675px;
	margin: 0 36px 0 0;
	padding: 0 0 0 0;
	float: left;
}

#main-one-col {
	width: 888px;
	margin: 0 36px 0 36px;
	padding: 0;
}

#main-two-col-even-left {
	width: 426px;
	margin: 0 36px 0 36px;
	padding: 0;
	float: left;
}

#main-two-col-even-right {
	width: 426px;
	margin: 0 36px 0 0;
	padding: 0;
	float: left;
}

#main-two-col-left-coupon {
	width: 500px;
	margin: 0 36px 0 0;
	padding: 0;
	float: left;
}

#main-two-col-right-coupon {
	width: 352px;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	float: right;
}

#main-content p {
	margin: 0 0 20px 0;
}

#main-content-index p {
	margin: 0 0 20px 0;
}

.section {
	/*padding: 108px 0 0 0;*/
	padding: 0 0 20px 0;
}

.clear {
	height: 0px;
	background: transparent;
	clear: both;
}

.fixed {
        position:fixed;
}

.disclaimer {
	width: 635px;
	padding: 20px 20px 5px 20px;
	background: #eaeaea;
}

.inline-disclaimer {
	padding: 10px;
	background: #eaeaea;
}

.drug-facts {
	width: 631px;
	margin: 0 0 20px 0;
	padding: 20px 20px 5px 20px;
	border: 2px solid #cccccc;
	font-size: 14px;
}

.drug-facts-panel {
	width: 100%;
}

.drug-facts-panel td.ingredients {
	padding: 7px;
}

.purpose {
	text-align: right;	
}

.grey {
	background: #eaeaea;
}

.directions {
	width: 100%;
	border: 1px solid #eaeaea;
}

.directions td {
	padding: 5px;
	border: 1px solid #eaeaea;
}

.list {
	margin: 0 0 20px 14px;
	padding: 0;
	list-style-type: square;
}

.list-secondary {
	margin: 0 0 0px 14px;
	padding: 0;
	list-style-type: square;
}

.box-picture {
	text-align: center;
	margin: 0 0 36px 0;
}

.index-list {
	width: 848px;
	margin: 0px 36px 0px 36px;
	padding: 20px 20px 5px 20px;
	background: #eaeaea;
}

.list-left {
	width: 392px;
	float: left;
	margin: 0 36px 20px 14px;
	padding: 0;
	list-style-type: square;
}

.list-right {
	width: 392px;
	float: left;
	margin: 0 0 20px 14px;
	padding: 0;
	list-style-type: square;
}

.top-return {
	text-align: right;
	margin: 20px 0 0 0;
}

.product-image {
	margin: 0 0 0 6px;
}

.imgleft {
	margin: 0 36px 36px 0;
	float: left;
}

.imgright {
	margin: 0 0 0 36px;
	float: right;
}

.detail-index-left {
	width: 175px;
	float: left;
}

.detail-index-right {
	width: 175px;
	float: right;
}

footer {
	padding: 20px 20px 15px 20px;
	background: #cccccc;
	font-size: 12px;
	line-height: 18px;
}

footer h3 {
	margin: 0 0 6px 0;
}

footer p {
	margin: 0 0 6px 0;
}

footer ul {
	margin: 0 0 12px 0;
	list-style-type: none;
}

footer ul li {
	margin: 0 0 0px 0;
}

footer ol {
	margin: 0 0 12px 20px;
}

footer a, footer a:visited {
}

footer a:hover, footer a:active {
	text-decoration: underline;
}

#footer-col-left {
	width: 396px;
	margin: 0 36px 0 0;
	padding: 0 20px 0px 20px;
	float: left;
}

#footer-col-right {
	width: 396px;
	margin: 0 0 0 0;
	padding: 0 20px 0px 20px;
	float: left;
}

#footer-col-one {
	width: 173px;
	margin: 0 36px 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#footer-col-two {
	width: 173px;
	margin: 0 36px 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#footer-col-three {
	width: 173px;
	margin: 0 36px 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#footer-col-four {
	width: 173px;
	margin: 0 0 0 0;
	padding: 0 20px 0 20px;
	float: left;
}

#footer-newsletter-signup {
	padding: 4px 0 24px 0;
}

.address-indent {
	position: relative;	
	padding: 0 0 0 52px;
}

.phone-indent {
	position: relative;	
	padding: 0 0 0 10px;
}

.email-indent {
	position: relative;	
	padding: 0 0 0 16px;
}

.social-indent {
	position: relative;
	padding: 0 0 0 12px;
	top: 5px;
}

.social-indent a {
	margin: 0 6px 0 0;
}

.copyright {
	font-size: 11px;
	line-height: 14px;
}

.pdf-download {
}

.pdf-download a {
	padding: 0 0 0 20px;
	display: block;
	height: 16px;
	line-height: 16px;
	background: transparent url(../images/pdficon_small.png) top left no-repeat;
}

sup {
	vertical-align: baseline;
	font-size: 10px;
	position: relative;
	top: -4px;
}

/* MAIN NAV STYLES */

.ddsmoothmenu{
background: transparent; /*background of menu bar (default state)*/
width: 100%;
height: 36px;
line-height: 36px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

.ddsmoothmenu ul li.top a{
	
	display:block;
	padding-top: 5px;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background: transparent; /*background of menu items (default state)*/
color: #ffffff;
height: 36px;
padding: 0px 10px;
color: transparent;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: #ffffff;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #219831; 
color: #ffffff;
}

.ddsmoothmenu ul li a:hover{
background: #219831; /*background of menu items during onmouseover (hover state)*/
color: #ffffff;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background: #156109;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 160px; /*width of sub menus*/
height: auto;
line-height: 1.4;
padding: 7px 5px;
border-bottom: 1px solid green;
margin: 0;
border-top-width: 0;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

	
.row { max-width: none !important; }